<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<string>	本授权书适用于“生利宝”业务。

	致上海汇付数据服务有限公司：

	本公司因业务需要使用贵司“生利宝”业务功能，现同意将本公司钱管家账户内待结算资金划至本公司法定代表人的钱管家账户，用于申购、赎回与贵司合作机构的理财产品。本授权范围内的操作行为本公司均认可为合法、有效行为，本公司确保法定代表人个人账户信息的真实性、合法性。本公司承诺：因违反相关约定或规定，造成贵司损失的，贵司有权采取冻结本公司法定代表人的生利宝账户以及本公司钱管家账户资金等措施。因本授权行为造成的一切后果和损失均由本公司承担。</string>
</dict>
</plist>
