<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<string>1.	生利宝基本情况
生利宝是汇付为POS商户开发的理财工具，您可将POS刷卡产生的闲置资金实时存入生利宝，获取超银行活期存款10倍以上的收益，需要资金时可实时从生利宝转出到原POS待结算账户中。无需银行开户，资金随进随出，收益每日到账，服务完全免费！（注：目前生利宝投资国泰现金管理货币市场基金A，基金代码：020031）

2.	生利宝是否需要手续费或其他费用？
生利宝目前是不收取任何手续费的。生利宝的开通、存入和转出均不收取任何费用，生利宝相应获取的收益也不缴纳任何税收和费用。

3.	生利宝操作方法
主菜单中点击“生利宝”进入。在生利宝主界面中，选择“存入生利宝”，输入金额（最低1元）后即可实时将闲置的POS刷卡资金转入生利宝，进行投资获取收益。
主菜单中点击“生利宝”进入。在生利宝主界面中，选择“转出生利宝”，输入金额（最低0.01元）后即可实时将生利宝中的资金转出到原POS待结算账户中，转出后POS待结算账户中的资金按原结算周期进行结算，即原来是T+1结算，则转出后，第二个工作日即会将资金结算到原结算银行账户。

4.	生利宝收益规则
您存入生利宝的资金目前会投资国泰现金管理货币市场基金A，基金代码020031。生利宝业务受理时间为上海证券交易所、深圳证券交易所的正常交易日的交易时间，生利宝用户在基金合同约定之外的日期和每个基金开放日15:00后（包括15:00）提出存入、转出的，视为下一开放日的申购、赎回申请。
用户在T日（基金工作日）净转出的资金，不享有该部分资金T日收益。

在您存入生利宝后一个工作日将由基金公司进行投资份额确认，确认份额后一日开始计算收益，收益计入您的生利宝总金额内，份额确认后一工作日10:30左右您可通过本客户端软件查看收益。
注：双休日及国家法定假期，基金公司不进行份额确认。
收益计算基本公式：
当日收益 = 上一日生利宝余额（不含当月基金公司未兑付收益）/10000 *当天基金公司公布的每万份收益率。
当日存入，第二日即转出的部分不计算收益
国家法定节假日（如国庆节、春节，不含普通周六周日）如需用钱请在节假日前两日转出。在国家法定节假日中转出的资金，将在国家法定节假日后第一个基金工作日到账，且国家法定节假日中转出的资金将不获取节假日间的收益。
注：收益计算最终解释规则以汇付天下为准
温馨提示：若要每日查看到收益，建议生利宝余额保持为300元以上（若当天收益不到1分钱，系统可能不会分配收益，且也不会累积）

5.	生利宝中的“可存入金额”、“生利宝总金额”、“历史累计收益”具体是什么？
生利宝中的“可存入金额”指POS刷卡后还未发起结算的资金。
“生利宝总金额”指当前投入生利宝的本金和生利宝取得收益的总和。
“历史累计收益”指投资生利宝历史以来所取得的所有收益。

6.	风险提示
请您保管好您的帐号信息（机构号、操作员号、密码），不要泄露，以免他人操作造成正常POS刷卡资金到账出问题。

7.	产品支持
生利宝相关问题可致电021-33323999转5160</string>
</dict>
</plist>
