<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<string>&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot; alignment=&quot;3&quot;&gt;1.生利宝（下称本业务）是上海汇付数据服务有限公司（下称本公司）向用户（即您）提供的可以通过本公司系统与合作金融机构（包括但不限于保险公司、银行、基金公司、证券公司等，下同）系统相连，通过合作金融机构系统在本公司的网上直销自助前台系统进行相关理财产品（包括但不限于保险、基金、股票、债券等，下同）交易资金的划转及在线进行理财产品交易、信息查询等，实现账户余额增值的服务。
2.为了保障您的合法权益，请您在注册或使用本业务前，详细阅读本协议。您注册或使用本业务时，即表示您已充分知晓并理解本协议之含义，并在此基础上接受本协议之全部内容。
3.您在接受本协议的同时，即表示您同意并接受《PNR钱管家使用协议》及《天天盈用户使用协议》。如果您不同意相关协议的约定，应立即停止注册使用本业务。
&lt;font size=&quot;16&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;特别提示
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;4.您应使用真实身份信息注册并使用本业务，不得冒用他人注册使用。本公司有权采取各种必要手段对您进行身份验证，您有义务维护和更新自己的注册信息，确保其持续的准确性、完整性和有效性，否则本公司有权暂停或终止为您提供本业务。任何通过安全验证后提交的申请都将视为您本人的意思表示或您合法授权的行为，该等行为所引起的法律后果由该您承担，本公司不承担任何责任。
5.您知晓并同意，在使用本业务前已得到商户授权（以授权书内容为准），同时该商户可代替您进行操作本业务：包括但不限于查询、转入、转出等操作。您知晓并同意本业务的交易资金赎回是将回款划至您个人钱管家账户后再划回至该商户钱管家账户中。
6.您知晓并同意，开通生利宝服务的同时即开通个人钱管家账户、天天盈个人账户和相应的基金账户，同意将账户资金用于申购金融机构的理财产品。
7.您知晓并同意，为向您提供生利宝服务，本公司有权将您的个人信息（包括但不限于：姓名、身份证号、银行卡号、手机号、邮箱、联系地址、钱管家账号、天天盈账号等）提供给相应的金融机构。您同意相关金融机构有权将您的个人信息（包括但不限于您在金融机构的账户、交易信息、资产状况等）提供给本公司。
8.您知晓并同意，您网上提交的资金划转委托，以银行系统与本公司系统记录为准；您可以通过客户端查询到持有理财产品的净额、收益、交易明细等，但该数据仅供参考用，所有数据应以相应的金融机构系统数据为准。
9.您知晓并同意，针对T日发起的理财产品申购，T+1日申请赎回的，不享受T+1日收益。业务的具体收益介绍请参考本公司在系统中的公告。
&lt;font size=&quot;16&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;免责条款
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;10.本公司仅向您提供资金支付渠道，并非为理财产品购买协议的参与方，不对理财产品购买协议的协议方的任何口头、书面陈述之真实性、合法性做任何明示或暗示的担保，或对此承担任何连带责任，不对相关金融机构及任何第三方的法定义务和/或契约责任承担任何连带责任。本公司亦无义务参与理财产品协议交易资金划转及支付环节之外的任何理赔、纠纷处理等活动，本公司也无法保证您通过本公司购买理财产品肯定会盈利或不亏本。
11.如因对应银行系统、金融机构系统故障、系统升级，或您账户处于非正常状态、或自然灾害等不可抗力事件，或网络、通讯故障等非本公司原因导致交易无法正常进行的，本公司不承担任何责任。
&lt;font size=&quot;16&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;服务费用
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;12.您知晓并同意，本公司保留向您收取服务费的权利。一旦本公司确定收取或调整服务费收取方式及标准，将以在本公司网站发布公告的方式通知您，而不再作个别通知。
&lt;font size=&quot;16&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;一般规定
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;13.本协议与本网站上其他条款和规则的名词解释、意思理解，可互相引用参照，如有不同理解，应以本协议为准。本协议未作规定的，以本公司客户端内更新的《生利宝服务协议》为准。
14.如果本协议条款中的部分条款被有管辖权的法院认定为违法，则并不影响其他条款的有效性。
15.本公司保有制定和单方随时修改包括但不限于上述规则的各项规则。所有规则均构成本协议的有效组成部分。新制定和经修改的规则将在本网站上进行公布，不做逐一通知。
&lt;font size=&quot;16&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;法律适用
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;15.因本协议引起的或与本协议有关的争议，均适用中华人民共和国法律。
17.因本协议引起的或与本协议有关的争议，本公司可与您协商解决。协商不成的，任何一方均有权提起诉讼，并以上海市徐汇区人民法院为管辖法院。
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot; alignment=&quot;2&quot;&gt;国泰基金管理有限公司
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot; alignment=&quot;2&quot;&gt;网上交易直销式自助前台服务协议
&lt;font size=&quot;14&quot; bold=&quot;1&quot; color=&quot;000000&quot; alignment=&quot;3&quot;&gt;本协议是国泰基金管理有限公司（以下简称“本公司”或“国泰基金”）与投资者(以下简称“您”或“投资者”)就您于本公司网上交易直销自助式前台进行相关操作的有关事项所订立的有效合约。投资者通过网络页面点击确认或以其他方式选择接受本协议，即表示投资者与本公司已达成协议并同意接受本协议的全部约定内容以及与本协议有关的各项规则及本公司网站所包含的其他与本协议或本协议项下各项规则的条款和条件有关的各项规定。
在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作。
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;为给上海汇付数据服务有限公司生利宝用户提供账户余额增值服务，国泰基金为生利宝用户提供了国泰现金管理货币市场基金A，与生利宝服务对接。同时，为方便生利宝用户操作，国泰基金与上海汇付数据服务有限公司达成合作协议，在上海汇付数据服务有限公司用户操作系统设置国泰基金网上交易直销自助式前台，便于生利宝用户发起国泰基金直销账户的开立以及国泰现金管理货币市场基金A申购、赎回的申请。
鉴于生利宝用户自愿接受生利宝服务，并自愿通过国泰基金在上海汇付数据服务有限公司用户操作系统前置的网上交易直销自助式前台进行基金开户、账户查询、发起国泰现金管理货币市场基金A的交易申请等操作，您与国泰基金根据国家有关法律、法规及相应规定达成如下协议：
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;第一条 释义
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;1、网上交易直销自助式前台：是指国泰基金在上海汇付数据服务有限公司用户操作系统内置的网上交易直销自助式前台，以下简称“网上直销自助式前台”。网上直销自助式前台的业务内容目前包括基金开户、账户登记，国泰现金管理货币市场基金A的申购、赎回、交易申请查询、基金行情查询、份额余额查询等，其他业务开通以本公司公告为准。
2、投资者：是指接受生利宝服务并且申请开立国泰基金直销账户的生利宝实名认证用户。
3、基金账户：是指基金注册登记机构给投资者开立的用于记录投资者持有的由该注册登记机构登记注册的开放式基金份额变动及结余情况的账户。本基金账户的注册登记机构为国泰基金。
4、基金交易账户：是指国泰基金为投资者开立的记录其国泰基金所管理开放式基金的基金份额的变动及结余情况的账户。
5、申购：是指基金合同生效后，投资者向国泰基金提出申请购买基金份额的行为。
6、赎回：是指投资者向国泰基金提出申请卖出基金份额的行为。
7、身份认证要素：指在交易中上海汇付数据服务有限公司及本公司用于识别投资者身份的信息要素，包括但不限于投资者的钱管家账户、密码、手机号码等及本公司认可的其他要素。
8、T 日是指国泰基金确认的投资者有效申请日。
9、T ＋ n 日是指自 T 日起第 n 个工作日（不包含 T 日）。
10、开放日是指国泰基金为投资者办理基金申购、赎回等业务的工作日。
11、D日是指自然日。
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;第二条 基金账户的开立
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;1、凡是年龄满16周岁并且持有16位身份证号的居民身份证、满足证券投资基金合法投资者要求的生利宝实名认证用户可以通过网上交易直销自助式前台开立基金账户。凡是通过网上交易直销自助式前台进行开户操作的生利宝用户，需同时接受《生利宝服务协议》。 生利宝实名认证用户完成直销交易账号的开立，成为国泰基金投资者。
2、投资者首次通过网上直销自助式前台开立基金账户的，其基金账户开户申请将于T+1日确认，确认成功后，投资者将获得基金账号。投资者的基金账号开立成功与否以国泰基金确认结果为准。
3、投资者应保证所提供的信息真实、准确、有效；如有变化，投资者应及时变更有关资料。因投资者未能及时变更有关资料所可能导致的直接、间接损失由投资者自行承担。投资者须承担因其提供不真实、有误或无效信息而可能导致的一切责任，包括对国泰及任何第三方的损害赔偿责任。
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;第三条 安全机制
1、 由于国泰现金管理货币市场基金A仅对生利宝实名认证用户开放，投资者发出的指令将被合理确信为是投资者本人直接向国泰基金发出的指令，因此，投资者应妥善保管身份认证要素。
2、由于投资者自身的原因导致身份认证要素泄露而引起的损失由投资者承担。
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;第四条 申购申请
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;1、投资者可通过网上直销自助式前台提出国泰现金管理货币市场基金A的申购申请。网上直销自助式前台申购单笔最高金额和每日最高金额以国泰基金业务规则的相关规定为准。
2、投资者当日申购申请与资金支付的受理时间为T 日00：30-23：45（具体以国泰基金公告为准）。投资者委托申请的时间以国泰基金系统自动记载时间为准。
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;第五条 赎回申请
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;1、投资者可通过网上直销自助式前台提出国泰现金管理货币市场基金A的赎回申请。赎回份额的数额限制以国泰基金业务规则的相关规定为准。
2、投资者当日赎回申请受理时间为T 日00:30-23：45。投资者委托申请的时间以国泰基金系统自动记载时间为准。
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;第六条 变更分红方式
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;投资者不能通过国泰基金网上交易直销自助式前台变更国泰现金管理货币市场基金A的分红方式。国泰现金管理货币市场基金A的分红方式必须为红利再投。
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;第七条 申请撤销
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;国泰基金网上直销自助式前台不提供申购申请撤销、赎回申请撤销服务。
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;第八条 账户查询
为更好为投资者提供服务，投资者知晓并同意，国泰基金通过网上直销自助式前台为投资者提供本人的基金投资信息查询服务。
第九条 风险测评
投资者知晓并同意，由于货币基金相比股票型、债券型和混合型基金，属于基金中的低风险品种，投资者具备投资低风险基金品种的风险承受能力，因此通过网上直销自助式前台进行基金增利宝货币基金的相关交易时，系统默认投资者为最低风险承受能力类型。
第十条 风险
1、为确保网络传输的安全，保障投资者的利益，国泰基金对网络资料的传输采用数据加密处理，但国泰基金无法保证网上信息传输绝对安全、毫无错误或指定网址不被恶意攻击或不存在因电子病毒所导致的故障等等。如发生前述情形，国泰基金不承担任何责任，投资者须自行承担因网上交易可能导致的任何风险及损失。
2、网上直销自助式前台的查询功能如因数据传输、更新等原因发生延误，投资者需以国泰基金记载数据为准。
3、国泰基金有权保留投资者网上交易的相关电子数据以作为投资者交易的证明。
4、任何通过安全验证后提交的申请都将视为投资者本人的意思表示或投资者合法授权的行为，该等行为所引起的法律后果由该投资者承担。
5、由于提供资金结算途径的银行或第三方支付机构的系统或者人为原因，导致资金到账迟滞等问题，国泰基金将协调尽快解决，但不承担赔偿责任。
第十一条 协议的效力及变更
&lt;font size=&quot;14&quot; bold=&quot;0&quot; color=&quot;222222&quot;&gt;1、在不损害投资者利益的前提下，国泰基金保留修改或增补本协议内容的权利。本协议的修改文本将公告于国泰基金的网站及营业场所或以其他国泰基金认为可行的方式通知。投资者在修改通知公布之日起十日内未向国泰基金提出书面异议，视同已经得到投资者的认可，但国泰基金增加服务内容除外。
2、本协议书签署后，若有关法律法规和《基金合同》、《招募说明书》或其他国泰基金和投资者应共同遵守的文件发生修订，本协议与之不相适应的内容及条款自行失效，但本协议其他内容和条款继续有效。
3、本协议没有约定的，适用《国泰管理有限公司注册登记业务规则》、《国泰基金管理有限公司网上交易业务规则》、本基金公司发布国泰现金管理货币基金基金合同、招募说明书（更新）及相关公告。
&lt;font size=&quot;15&quot; bold=&quot;1&quot; color=&quot;000000&quot;&gt;第十二条 纠纷的解决办法
双方如有争议，应尽可能通过协商、调解解决，协商、调解不成，任何一方均有权向上海仲裁委员会申请仲裁，仲裁按照该委员会届时有效的仲裁规则进行。仲裁裁决是终局的，对双方均有法律约束力。
</string>
</dict>
</plist>
